<div class="card">
    <div class="card-body">
      <table mat-table [dataSource]="historique" class="mat-elevation-z8">
        <ng-container matColumnDef="Agent">
          <th mat-header-cell *matHeaderCellDef>Agent </th>
          <td mat-cell *matCellDef="let element"> {{element.Agent}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>date </th>
          <td mat-cell *matCellDef="let element"> {{element.date|date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef>montant</th>
          <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
