<div class="row">
    <div class="mt-5 offset-4 col-4 ">
        <form>
            <br>
            <div class="input-group input-group-lg mb-3">
                <input maxlength="10" [formControl]="matriculeCaisse" type="text"
                    class="form-control border border-warning" placeholder="Matricule Caisse">
            </div>
            <button type="button"
                class="mb-1 btn btn-outline-warning btn-lg text-primary btn-block">Créer</button>
            <br>
        </form>

    </div>
</div>
