<h1>Nouveau Coffre</h1>
<mat-dialog-content >
   
         <table>
             <tr class="mr-2">
                 <td class=" btn mr-2">50</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">20</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">10</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">5</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">5</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">2</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">1</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">0.5</td>
                 <td><input class="btn border-warning" type="number"></td>
                 <td class=" btn mr-2">0.2</td>
                 <td><input class="btn border-warning" type="number"></td>
                
             </tr>
         </table>
</mat-dialog-content>