<div class="card" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
     <div class="card-body">
         <div class="card">
            <table class="mb-0 table">
                <thead>
                    <tr>
                        <th>numero du fond</th>
                        <th>matricule de guichitier</th>
                    </tr>
                    <tr>
                        <td >1</td>
                        <td >0123456789</td>
                    </tr>
                </thead>
            </table>
                <table class="mb-0 table"> 
              <thead>

                <tr>
                    <th> valeur </th>
                    <th > nombre de pieces </th>
                    <th > montant total </th>
                </tr>
            </thead>
                <tbody>
                
                    <tr>
                        <td></td>
                        <td>
                         <input> 
                        </td>
                        <td><h3 ></h3></td>
                    </tr>
                    <tr>
                       
                        <td class="montant" >20</td>
                        <td >
                                    <input class="inputs" type=""    >
                        <td ><h3 class="somme"  ></h3></td>
                    
                    </tr>
                    <tr>
                       
                        <td  class="montant" >10</td>
                        <td  >
                                    <input class="inputs" type=""   >
                        <td > <h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>

                        <td class="montant" id="montant50" >5</td>
                        <td >
                         <input class="inputs" type=""    >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>
                       
                        <td class="montant"  >5</td>
                        <td >
                                    <input class="inputs" type=""    >
                        <td > <h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>
                       
                        <td  class="montant" >2</td>
                        <td  >
                                    <input class="inputs" type=""   >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>

                        <td class="montant"  >1</td>
                        <td >
                         <input class="inputs" type=""  >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>
                       
                        <td class="montant"  >0.500</td>
                        <td >
                                    <input class="inputs" type=""   >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>
                       
                        <td  class="montant" >0.200</td>
                        <td  >
                                    <input class="inputs" type=""    >
                        <td > <h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>

                        <td class="montant"  >0.100</td>
                        <td >
                         <input class="inputs" type=""    >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>
                       
                        <td class="montant"  >0.050</td>
                        <td >
                                    <input class="inputs" type=""    >
                        <td ><h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>
                       
                        <td  class="montant">0.020</td>
                        <td  >
                                    <input class="inputs" type=""    >
                        <td ><h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>

                        <td class="montant"  >0.010</td>
                        <td >
                         <input class="inputs" type=""   >
                        <td ><h3 class="somme" ></h3> </td>
                    
                    </tr>
                    <tr>
                       
                        <td class="montant"  >0.005</td>
                        <td >
                                    <input class="inputs" type=""    >
                        <td > <h3 class="somme" ></h3>  </td>
                    
                    </tr>
                    <tr>
                       <td>montant total: </td>
                        <td><p id="total"></p></td>
                        <td><button  type="button" data-toggle="collapse" href="" class="btn btn-primary abs">envoyer</button></td>
                        
                    
                    </tr>
                    
                
                    
               </tbody>
            </table>
         </div>
     </div>
    </div>
  </div>
