<div class="card">
    <div class="card-body">
        <h2 class="card-title">Modification Coffre : </h2>
        <div class="card border-0">
            <div class="row">
                <div class="offset-1 col-5" >
                    <div class="card border border-warning m-2"  *ngFor="let coffre of coffres">
                          
                        <dl class="row m-1 ">
                            <dt class="text-primary col-sm-4">{{coffre[0]}}ᴰᵀ</dt>
                            <dt><span class="text-primary col-sm-1">nombre:</span></dt>
                            <dt class="text-primary ">
                                <input type="text" class="col-sm-12 border-primary btn" value={{coffre[1]}}></dt>
                            
                          </dl>
                    </div>
                </div>
                <div class="col-5">devise</div>

            </div>


            <button type="button" data-toggle="collapse" href="" class="btn btn-primary abs">envoyer</button>

        </div>
    </div>
</div>