
    <form [formGroup]="userForm" > 
        <div class="input-group input-group-lg mb-3">
            <input  type="text" Name="firstname" formControlName="nom" class="form-control border border-warning" placeholder="Nom d'Agent">
          </div>
        <div class="input-group input-group-lg mb-3">
            <input maxlength="10" type="text"formControlName="matricule" class="form-control border border-warning" placeholder="Matricule" >
          </div>
          <div class="input-group input-group-lg mb-3">
            <input  type="text" formControlName="email" class="form-control border border-warning" placeholder="email" >
          </div>
          <div class="input-group input-group-lg mb-3">
            <input type="text" formControlName="password" class="form-control border border-warning" placeholder="Mot de passe" >
          </div>
          <button (click)="saveUpdate()" type="button" class="mb-1 btn btn-outline-warning btn-lg text-primary btn-block">Enregistrer</button>
          <br>
    </form>


