<div class="row">
    <div class="mt-5 offset-4 col-4 ">
        <form  >
            <br>
            <div class="input-group input-group-lg mb-3">
                <input maxlength="10"  [formControl]="matriculeCoffre" type="text" class="form-control border border-warning" placeholder="Matricule Coffre" >
              </div>
              <button  (click)="connect()" type="button" class="mb-1 btn btn-outline-warning btn-lg text-primary btn-block">Connecter</button>
              <br>
        </form>

    </div>
    <div class="mt-5 col-4">
        <br>
        <button (click)="openDialog()" type="button" class="mb-1 btn btn-outline-warning btn-lg text-primary ">Ajouter nouveau coffre</button>
    </div>
    </div>