.text-blue{
    color: #00008B;
}
.circule{
        border-color: #00008B;
        width: 500px;
        height: 500px;
        border-top-right-radius: 50% 50%;
        border-top-left-radius:  50% 50%;
        border-bottom-left-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
}