
  <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar register text-white mat-elevation-z8">
    <a class="navbar-brand  mr-2" href="#">
        <img src="/assets/images/logo-laposte.png" width="60" height="60">
        La poste
    </a>
      <div class="navbar-nav ml-md-auto">
          <ul class="navbar-nav ml-md-auto ">
              <li class="mr-4">
                <div class="border-right">
                  <button (click)="openDialog()" class="mr-4 btn btn-lg"  matBadgeColor="warn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-chat-text-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                </svg>
              </button>
            </div> 
              <li class="mr-4">
                <div class="border-right">
                <table class="mr-4">
                    <tr class="h4 text-white">{{user.nom}}</tr>
                   <tr class="h4 text-warning">{{user.poste}}</tr>
                </table>
              </div>
              </li>
<li class="">
    <div mat-button [matMenuTriggerFor]="menu">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-person-circle"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
        </svg>
      </div>
          <mat-menu class="btn btn-danger btn-outline-danger btn-lg " #menu="matMenu">
        <button (click)="logout()" mat-menu-item>Logout
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"/></svg>    
        </button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
</li>
          </ul>
    </div>
  </nav>